apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: foundation-e2e
spec:
  replicas: 1
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/mce-24/foundation-e2e@sha256:09dad4fac42b37fe5e4bc9f9e3e81d98192f7dfbb6c0ad9d35340b6cfc0b3566
        name: container-image
        resources: {}
status: {}
