apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: registration-operator
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: registration-operator
    app.kubernetes.io/part-of: mce-24
  name: registration-operator
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app.kubernetes.io/instance: registration-operator
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app.kubernetes.io/instance: registration-operator
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/mce-24/registration-operator@sha256:1c56917f1530869bc0e920787b2594362c6ac345488c820cc8dfe9b9e6bdc870
        imagePullPolicy: Always
        name: container-image
        ports:
        - containerPort: 1
        resources:
          requests:
            cpu: 10m
            memory: 50Mi
status: {}
