apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: clusterlifecycle-state-metrics-1tww
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: clusterlifecycle-state-metrics-1tww
    app.kubernetes.io/part-of: mce-24
  name: clusterlifecycle-state-metrics-1tww
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: go-app
      app.kubernetes.io/instance: clusterlifecycle-state-metrics-1tww
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: go-app
        app.kubernetes.io/instance: clusterlifecycle-state-metrics-1tww
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/mce-24/clusterlifecycle-state-metrics-1tww@sha256:82af5bd07a9548086879874f614bd156f164e335de863c360172c43844aaa974
        name: my-go
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          limits:
            cpu: 100m
            memory: 100Mi
          requests:
            cpu: 10m
            memory: 10Mi
status: {}
