apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: backplane-operator-qa7p
spec:
  replicas: 1
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/mce-24/backplane-operator-qa7p@sha256:a0340ac4cec0ac016a34ca146d5dd67e07be12363486ef830ad3dc9fc431d30d
        name: container-image
        resources: {}
status: {}
