apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: cluster-proxy-addon-ezmt
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: cluster-proxy-addon-ezmt
    app.kubernetes.io/part-of: mce-24
  name: cluster-proxy-addon-ezmt
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app.kubernetes.io/instance: cluster-proxy-addon-ezmt
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app.kubernetes.io/instance: cluster-proxy-addon-ezmt
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/mce-24/cluster-proxy-addon-ezmt@sha256:03e0c362b96bd6f46d50a80a0c55142be7de9da175a85ba8ab6ca33fd3ad722a
        imagePullPolicy: Always
        name: container-image
        ports:
        - containerPort: 8081
        resources:
          requests:
            cpu: 10m
            memory: 50Mi
status: {}
