apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: managed-serviceaccount-zbkr
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: managed-serviceaccount-zbkr
    app.kubernetes.io/part-of: mce-24
  name: managed-serviceaccount-zbkr
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app.kubernetes.io/instance: managed-serviceaccount-zbkr
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app.kubernetes.io/instance: managed-serviceaccount-zbkr
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/mce-24/managed-serviceaccount-zbkr@sha256:1fbf9863b689b26f34a73b2d9c0545889c7e2de6ed50cf1b15e7a5604c936340
        imagePullPolicy: Always
        name: container-image
        ports:
        - containerPort: 8080
        resources:
          requests:
            cpu: 10m
            memory: 50Mi
status: {}
