apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: clusterclaims-controller-crbt
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: clusterclaims-controller-crbt
    app.kubernetes.io/part-of: mce-24
  name: clusterclaims-controller-crbt
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: go-app
      app.kubernetes.io/instance: clusterclaims-controller-crbt
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: go-app
        app.kubernetes.io/instance: clusterclaims-controller-crbt
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/mce-24/clusterclaims-controller-crbt@sha256:105658a99eeff7c341fa836a7b9e5ca7fbd4d9c8e76d46eb794a9cbdcbe9d308
        name: my-go
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          limits:
            cpu: 100m
            memory: 100Mi
          requests:
            cpu: 10m
            memory: 10Mi
status: {}
