apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: cluster-image-set-controller-pbpe
spec:
  replicas: 1
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/crt-redhat-acm-tenant/mce-24/cluster-image-set-controller-pbpe@sha256:5ffd63e70c2e89c233804d4aa8e3fd61be369632a19f6c8f2491bd0e7fe2c00c
        name: container-image
        resources: {}
status: {}
